$primary:   #ffde00;
$body-bg:  #f9fbfd;
$body-color: #2C2C2C;
$enable-shadows: true;
$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/utilities";

@import "_style.scss";
