$primary:   #ffde00;
$body-bg:  #f9fbfd;
$body-color: #2C2C2C;
$enable-shadows: true;
$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/utilities";

@import "_style.scss";

body {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #bbb;
}
::-webkit-scrollbar-thumb {
  background: #555;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-corner {
  background: #bbb;
}
